.memo-wrapper1{
	position: relative;
	display:flex;
	gap: 10px;
	padding: 16px;
	justify-content: center;
	align-items: center;
	margin: 50px;
	min-height: 240px;
	overflow-y: scroll;
	flex-wrap: wrap;

	width: 90%;
	border: 14px solid black;
	background: green;
	
}
/* .memo-wrapper1 span:first-child{
	color: white;
	padding: 4px;
	border: 1px solid white;
	border-radius: 4px;
} */
.notice{
	position: absolute;
	font-size: 24px;
	font-weight: 700;
	color: white;
	bottom: 50px;
	right: 16px;
	transform: rotate(-8deg);
}